@import conversations
@import messaging
@import infopanel
@import colors

/* Sections will be from left to right, top-bottom. */

/* Container */
div._4sp8  
  background-color: $background 
 
/* Weird classes*/
// time._3oh-  
  // color: $foreground !important 

._23ct  
  filter: invert(100%) 

/* Settings & user dropdowns */
// menu
._54nf, ._54ng
  background-color: $background

// menu text
._54nh
  color: $messengerblue !important

// menu item on hover
._54ne
  background-color: $pink

// menu caret
._53io
  background-image: none !important

