@import colors

/* BG */
._4_j5 
  background-color: $background !important 
 
/* Top section: Name  */
._3eur
  span
    span
      color: $messengerblue
      a
        color: $messengerblue !important  
 
/* Group name */
._2jnv 
  color: $messengerblue !important 
 
/* Last active time */
._3eus 
  color: $comment !important 

/* People BG */
._5l37 
  background-color: $background !important 
 
/* People text */
._364g  
  color: $messengerblue !important 

/* Smiley */
._583a  
  background-color: none !important 

/* "Facebook Profile" & "Shared Photos" Labels */
._3tl0 
  color: $foreground !important 

/**************************************************/
/****************** MARKETPLACE *******************/
/**************************************************/

/* Markplace details */
._50f8
  color: $comment !important

/* [OFFER] */
._43za
  color: #90949c !important

/* ... menu */
._558b, ._54nc, ._558b, ._54ng
  border: solid $background !important

// ._558b, ._54ng
//   border-color: $background !important 

/**************************************************/
/************ SEARCH IN CONVERSATION **************/
/**************************************************/

._33p7
  background-color: $background

/**************************************************/
/****************** OPTIONS ***********************/
/**************************************************/

/* Options, shared files & shared photos */
._1lj0, ._4rph ._4rpj  
  color: $comment !important 
 
/* Text next to icons */
._3szq 
  color: $messengerblue !important 

/**************************************************/
/***************** EDIT NICKNAMES *****************/
/**************************************************/
._4t2a
  background-color: $background !important 
  color: $foreground !important
  border-radius: 0

/**************************************************/
/****************** CHANGE COLOUR *****************/
/**************************************************/

/* Modal header */
._4eby, ._2c9i, ._4ebz, ._19jt
  background-color: $background !important 
  color: $messengerblue !important
  span
    color: $pink

/* Edit nicknames: nicknames, names */
._3q34, ._3q35
    color: $foreground !important

/* Edit nicknames: input */
._5j5f
    background-color: $currentline

/*Edit your nickname input bg*/
._5iwm ._58al 
  background: $currentline !important 


/**************************************************/
/****************** CHANGE EMOJI ******************/
/**************************************************/

/* Selected emoji background */
._-lj ._4rlt
  background-color: $pink
  border-color: $pink


/**************************************************/
/****************** NOTIFICATIONS *****************/
/**************************************************/

/* Modal header */
._19jt
  color: $messengerblue !important

/* Row title */
._374c 
    color: $comment

/* Row text */
._4ng2
  color: $messengerblue

/**************************************************/
/**************** SHARED FILES ********************/
/**************************************************/
 
/* Links */
._fy2
  color: var(--custom-colour)
