@import 'colors';

._4_j5 {
  background-color: $background !important;
}

._3eur {
  span {
    span {
      color: $messengerblue;

      a {
        color: $messengerblue !important;
      }
    }
  }
}

._2jnv {
  color: $messengerblue !important;
}

._3eus {
  color: $comment !important;
}

._5l37 {
  background-color: $background !important;
}

._364g {
  color: $messengerblue !important;
}

._583a {
  background-color: none !important;
}

._3tl0 {
  color: $foreground !important;
}

._50f8 {
  color: $comment !important;
}

._43za {
  color: #90949c !important;
}

._558b,
._54nc,
._558b,
._54ng {
  border: solid $background !important;
}

._33p7 {
  background-color: $background;
}

._1lj0,
._4rph ._4rpj {
  color: $comment !important;
}

._3szq {
  color: $messengerblue !important;

  ._7ht_ {
    color: $comment !important;
  }
}

._4t2a {
  background-color: $background !important;
  color: $foreground !important;
  border-radius: 0;
}

._4eby,
._2c9i,
._4ebz,
._19jt {
  background-color: $background !important;
  color: $messengerblue !important;

  span {
    color: $pink;
  }
}

._3q34,
._3q35 {
  color: $foreground !important;
}

._5j5f {
  background-color: $currentline;
}

._5iwm ._58al {
  background: $currentline !important;
}

._-lj ._4rlt {
  background-color: $pink;
  border-color: $pink;
}

._19jt {
  color: $messengerblue !important;
}

._374c {
  color: $comment;
}

._4ng2 {
  color: $messengerblue;
}

._fy2 {
  color: var(--custom-colour);
}


// Update
._6ymu,
._6-xp,
._6yme,
._6ybv,
._6y56,
._6ybz,
._7hu0,
._7hu1,
._7hty {
  background-color: $messengerblue;
}
