@import 'colors';

._2v6o {
  color: $comment !important;
}

._17w2 {
  background-color: $background !important;
  color: $comment !important;
}

._53ij {
  background-color: $background;
  border: 1px solid $comment;
}

._1uwz {
  background-color: $pink;
}

._497p {
  ._3oh- {
    color: $comment !important;
  }
}

.__6m {
  color: $purple !important;
}

._6f6l {
  color: $messengerblue !important;
}

._58nk {
  color: $foreground;
}

.tooltipText,
.tooltipContent {
  background-color: $comment !important;
  color: $foreground !important;
}

i.arrow {
  border-left-color: $comment !important;
  border-right-color: $comment !important;
}

div._673w {
  background-color: $background;
}

._29_7 ._hh7 {
  background-color: $comment;
}

._29_7 ._hh7._2f5r {
  background: none;
}

._43by {
  background-color: $custom-colour;
}

ui9._hh7._s1-._52mr {
  background-color: $custom-colour;
}

._3i_m._nd_ ._3058._ui9._hh7._s1-._52mr._2f5r {
  background: none !important;
}

._llq {
  color: $foreground !important;
}

._36zg,
._1n-e {
  color: $foreground !important;
}

._ih3 {
  color: $foreground;
}

._5i_d {
  border: 1px solid $selection;
  background-color: transparent !important;

  .__6k {
    color: $foreground !important;
  }

  .__6l {
    color: $foreground !important;
  }
}

._5f0v._4pia ._1ifu {
  padding: 0 !important;
}

._4_j4 {
  background-color: $background !important;
}

img,
._50f7 {
  color: $messengerblue;
}

._ih- {
  background-color: $pink !important;
}

._aou {
  background: $selection;
}

._2f5n {
  background-color: $background;
}

._2f5n ._29ey {
  color: $white;
}

._3egs {
  background-color: $background;
}

._5irm {
  background-color: $background !important;
}

._5rp8 ._1mf {
  color: $foreground !important;
}

._2y8y._5l-3 {
  background: $background !important;

  ._2y8z {
    color: $foreground !important;
  }

  ._58al {
    color: $foreground !important;
    background-color: $background;
  }
}

._4rv6 {
  filter: invert(100%);
}

a._4ce_ {
  filter: invert(100%);
}

._1p1v {
  color: $comment !important;
  -webkit-text-fill-color: $comment !important;
}

._4_j4 .chatAttachmentShelf {
  border-top: 0px solid !important;
}
