/**************************************************/
/******************* HEADER BAR *******************/
/**************************************************/
/* Messenger Header Bar*/
._1tqi {
  color: #0084ff; }

/* Setting dropdown */
/**************************************************/
/**************** CONVERSATIONS *******************/
/**************************************************/
/* General conversation: item */
._1ht1 {
  background-color: #282a36 !important; }
  ._1ht1:hover {
    background-color: #44475a !important; }

/* Current conversation: item*/
._1ht2 {
  background-color: #44475a !important; }

/* Friend or group name in text */
._1htf {
  color: #8be9fd !important; }

/* Current conversation: friend or group name */
._1ht6 {
  color: #0084ff !important; }

/* Current Conversation  */
._17w2 {
  background-color: #282a36 !important; }

/* Timestamp */
._1ht7 {
  color: #ddddc0 !important; }

abbr._1ht7 {
  color: #6272a4 !important; }

/**************************************************/
/************** SEARCH CONVERSATIONS **************/
/**************************************************/
/* Text input in contacts search */
/* ALSO text input in Search in Conversation */
._58al {
  color: #ff79c6 !important; }

/* Search bar placeholder text */
._58al::placeholder {
  color: #6272a4 !important; }

/* Friend list: item */
._5l37 {
  background-color: #282a36 !important; }

/* Friend list: name */
._5l38 ._5l39 {
  background-color: #282a36 !important; }
  ._5l38 ._5l39:hover {
    background-color: #44475a !important; }

/* Friend list: icon */
._29hl {
  color: #282a36 !important; }
  ._29hl:hover {
    background-color: #44475a !important; }

/* Contacts: Text */
._225b {
  background-color: #6272a4;
  color: #f8f8f2; }

/**************************************************/
/******************* HEADER BAR *******************/
/**************************************************/
/* Last active time */
._2v6o {
  color: #6272a4 !important; }

/* Friend or group name */
._17w2 {
  background-color: #282a36 !important;
  color: #6272a4 !important; }

/**************************************************/
/******************* MENUS ************************/
/**************************************************/
._53ij {
  background-color: #282a36;
  border: 1px solid #6272a4; }

._1uwz {
  background-color: #ff79c6; }

/**************************************************/
/****************** MESSAGES **********************/
/**************************************************/
/* Time & date */
._497p ._3oh- {
  color: #6272a4 !important; }

/* Links, website URL in link preview */
.__6m {
  color: #bd93f9 !important; }

/* Friend's name above conversation */
._6f6l {
  color: #0084ff !important; }

/* Message color */
._58nk {
  color: #f8f8f2; }

/* Date & time on message hover */
.tooltipText, .tooltipContent {
  background-color: #6272a4 !important;
  color: #f8f8f2 !important; }

i.arrow {
  border-left-color: #6272a4 !important;
  border-right-color: #6272a4 !important; }

/* Persone Name Header */
div._673w {
  background-color: #282a36; }

/* Message background from friend*/
._29_7 ._hh7 {
  background-color: #6272a4; }

._29_7 ._hh7._2f5r {
  background: none; }

/* Message background from me */
._43by {
  background-color: #44475a; }

ui9._hh7._s1-._52mr {
  background-color: #44475a; }

._3i_m._nd_ ._3058._ui9._hh7._s1-._52mr._2f5r {
  background: none !important; }

/* New Messaging Person's Name */
._llq {
  color: #f8f8f2 !important; }

._36zg, ._1n-e {
  color: #f8f8f2 !important; }

._ih3 {
  color: #f8f8f2; }

._5i_d {
  border: 1px solid #44475a;
  background-color: transparent !important; }
  ._5i_d .__6k {
    color: #f8f8f2 !important; }
  ._5i_d .__6l {
    color: #f8f8f2 !important; }

/* Emojis in main messaging section */
/* Emojis inside the emoji menu */
._5f0v._4pia ._1ifu {
  padding: 0 !important; }

/* BG */
._4_j4 {
  background-color: #282a36 !important; }

/* Friend has called you text */
img, ._50f7 {
  color: #0084ff; }

/* @ Mention name */
._ih- {
  background-color: #ff79c6 !important; }

._aou {
  background: #44475a; }

._2f5n {
  background-color: #282a36; }

._2f5n ._29ey {
  color: #ADAEB0; }

._3egs {
  background-color: #282a36; }

/**************************************************/
/**************** WRITE NEW MESSAGE ***************/
/**************************************************/
/* Enter New Message BG */
._5irm {
  background-color: #282a36 !important; }

/* Text */
._5rp8 ._1mf {
  color: #f8f8f2 !important; }

._2y8y._5l-3 {
  background: #282a36 !important; }
  ._2y8y._5l-3 ._2y8z {
    color: #f8f8f2 !important; }
  ._2y8y._5l-3 ._58al {
    color: #f8f8f2 !important;
    background-color: #282a36; }

._4rv6 {
  filter: invert(100%); }

a._4ce_ {
  filter: invert(100%); }

/* Enter New Msg PlaceHolder Text */
._1p1v {
  color: #6272a4 !important;
  -webkit-text-fill-color: #6272a4 !important; }

._4_j4 .chatAttachmentShelf {
  border-top: 0px solid !important; }

/* BG */
._4_j5 {
  background-color: #282a36 !important; }

/* Top section: Name  */
._3eur span span {
  color: #0084ff; }
  ._3eur span span a {
    color: #0084ff !important; }

/* Group name */
._2jnv {
  color: #0084ff !important; }

/* Last active time */
._3eus {
  color: #6272a4 !important; }

/* People BG */
._5l37 {
  background-color: #282a36 !important; }

/* People text */
._364g {
  color: #0084ff !important; }

/* Smiley */
._583a {
  background-color: none !important; }

/* "Facebook Profile" & "Shared Photos" Labels */
._3tl0 {
  color: #f8f8f2 !important; }

/**************************************************/
/****************** MARKETPLACE *******************/
/**************************************************/
/* Markplace details */
._50f8 {
  color: #6272a4 !important; }

/* [OFFER] */
._43za {
  color: #90949c !important; }

/* ... menu */
._558b, ._54nc, ._558b, ._54ng {
  border: solid #282a36 !important; }

/**************************************************/
/************ SEARCH IN CONVERSATION **************/
/**************************************************/
._33p7 {
  background-color: #282a36; }

/**************************************************/
/****************** OPTIONS ***********************/
/**************************************************/
/* Options, shared files & shared photos */
._1lj0, ._4rph ._4rpj {
  color: #6272a4 !important; }

/* Text next to icons */
._3szq {
  color: #0084ff !important; }

/**************************************************/
/***************** EDIT NICKNAMES *****************/
/**************************************************/
._4t2a {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border-radius: 0; }

/**************************************************/
/****************** CHANGE COLOUR *****************/
/**************************************************/
/* Modal header */
._4eby, ._2c9i, ._4ebz, ._19jt {
  background-color: #282a36 !important;
  color: #0084ff !important; }
  ._4eby span, ._2c9i span, ._4ebz span, ._19jt span {
    color: #ff79c6; }

/* Edit nicknames: nicknames, names */
._3q34, ._3q35 {
  color: #f8f8f2 !important; }

/* Edit nicknames: input */
._5j5f {
  background-color: #44475a; }

/*Edit your nickname input bg*/
._5iwm ._58al {
  background: #44475a !important; }

/**************************************************/
/****************** CHANGE EMOJI ******************/
/**************************************************/
/* Selected emoji background */
._-lj ._4rlt {
  background-color: #ff79c6;
  border-color: #ff79c6; }

/**************************************************/
/****************** NOTIFICATIONS *****************/
/**************************************************/
/* Modal header */
._19jt {
  color: #0084ff !important; }

/* Row title */
._374c {
  color: #6272a4; }

/* Row text */
._4ng2 {
  color: #0084ff; }

/**************************************************/
/**************** SHARED FILES ********************/
/**************************************************/
/* Links */
._fy2 {
  color: var(--custom-colour); }

/* Sections will be from left to right, top-bottom. */
/* Container */
div._4sp8 {
  background-color: #282a36; }

/* Weird classes*/
._23ct {
  filter: invert(100%); }

/* Settings & user dropdowns */
._54nf, ._54ng {
  background-color: #282a36; }

._54nh {
  color: #0084ff !important; }

._54ne {
  background-color: #ff79c6; }

._53io {
  background-image: none !important; }
