._4_j5 {
  background-color: #282a36 !important; }

._3eur span span {
  color: #0084ff; }
  ._3eur span span a {
    color: #0084ff !important; }

._2jnv {
  color: #0084ff !important; }

._3eus {
  color: #6272a4 !important; }

._5l37 {
  background-color: #282a36 !important; }

._364g {
  color: #0084ff !important; }

._583a {
  background-color: none !important; }

._3tl0 {
  color: #f8f8f2 !important; }

._50f8 {
  color: #6272a4 !important; }

._43za {
  color: #90949c !important; }

._558b,
._54nc,
._558b,
._54ng {
  border: solid #282a36 !important; }

._33p7 {
  background-color: #282a36; }

._1lj0,
._4rph ._4rpj {
  color: #6272a4 !important; }

._3szq {
  color: #0084ff !important; }
  ._3szq ._7ht_ {
    color: #6272a4 !important; }

._4t2a {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border-radius: 0; }

._4eby,
._2c9i,
._4ebz,
._19jt {
  background-color: #282a36 !important;
  color: #0084ff !important; }
  ._4eby span,
  ._2c9i span,
  ._4ebz span,
  ._19jt span {
    color: #ff79c6; }

._3q34,
._3q35 {
  color: #f8f8f2 !important; }

._5j5f {
  background-color: #44475a; }

._5iwm ._58al {
  background: #44475a !important; }

._-lj ._4rlt {
  background-color: #ff79c6;
  border-color: #ff79c6; }

._19jt {
  color: #0084ff !important; }

._374c {
  color: #6272a4; }

._4ng2 {
  color: #0084ff; }

._fy2 {
  color: var(--custom-colour); }

._6ymu,
._6-xp,
._6yme,
._6ybv,
._6y56,
._6ybz,
._7hu0,
._7hu1,
._7hty {
  background-color: #0084ff; }
