/* BG */
._4_j5 {
  background-color: #282a36 !important; }

/* Top section: Name  */
._3eur span span {
  color: #0084ff; }
  ._3eur span span a {
    color: #0084ff !important; }

/* Group name */
._2jnv {
  color: #0084ff !important; }

/* Last active time */
._3eus {
  color: #6272a4 !important; }

/* People BG */
._5l37 {
  background-color: #282a36 !important; }

/* People text */
._364g {
  color: #0084ff !important; }

/* Smiley */
._583a {
  background-color: none !important; }

/* "Facebook Profile" & "Shared Photos" Labels */
._3tl0 {
  color: #f8f8f2 !important; }

/**************************************************/
/****************** MARKETPLACE *******************/
/**************************************************/
/* Markplace details */
._50f8 {
  color: #6272a4 !important; }

/* [OFFER] */
._43za {
  color: #90949c !important; }

/* ... menu */
._558b, ._54nc, ._558b, ._54ng {
  border: solid #282a36 !important; }

/**************************************************/
/************ SEARCH IN CONVERSATION **************/
/**************************************************/
._33p7 {
  background-color: #282a36; }

/**************************************************/
/****************** OPTIONS ***********************/
/**************************************************/
/* Options, shared files & shared photos */
._1lj0, ._4rph ._4rpj {
  color: #6272a4 !important; }

/* Text next to icons */
._3szq {
  color: #0084ff !important; }

/**************************************************/
/***************** EDIT NICKNAMES *****************/
/**************************************************/
._4t2a {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border-radius: 0; }

/**************************************************/
/****************** CHANGE COLOUR *****************/
/**************************************************/
/* Modal header */
._4eby, ._2c9i, ._4ebz, ._19jt {
  background-color: #282a36 !important;
  color: #0084ff !important; }
  ._4eby span, ._2c9i span, ._4ebz span, ._19jt span {
    color: #ff79c6; }

/* Edit nicknames: nicknames, names */
._3q34, ._3q35 {
  color: #f8f8f2 !important; }

/* Edit nicknames: input */
._5j5f {
  background-color: #44475a; }

/*Edit your nickname input bg*/
._5iwm ._58al {
  background: #44475a !important; }

/**************************************************/
/****************** CHANGE EMOJI ******************/
/**************************************************/
/* Selected emoji background */
._-lj ._4rlt {
  background-color: #ff79c6;
  border-color: #ff79c6; }

/**************************************************/
/****************** NOTIFICATIONS *****************/
/**************************************************/
/* Modal header */
._19jt {
  color: #0084ff !important; }

/* Row title */
._374c {
  color: #6272a4; }

/* Row text */
._4ng2 {
  color: #0084ff; }

/**************************************************/
/**************** SHARED FILES ********************/
/**************************************************/
/* Links */
._fy2 {
  color: var(--custom-colour); }
