/**************************************************/
/******************* HEADER BAR *******************/
/**************************************************/
/* Last active time */
._2v6o {
  color: #6272a4 !important; }

/* Friend or group name */
._17w2 {
  background-color: #282a36 !important;
  color: #6272a4 !important; }

/**************************************************/
/******************* MENUS ************************/
/**************************************************/
._53ij {
  background-color: #282a36;
  border: 1px solid #6272a4; }

._1uwz {
  background-color: #ff79c6; }

/**************************************************/
/****************** MESSAGES **********************/
/**************************************************/
/* Time & date */
._497p ._3oh- {
  color: #6272a4 !important; }

/* Links, website URL in link preview */
.__6m {
  color: #bd93f9 !important; }

/* Friend's name above conversation */
._6f6l {
  color: #0084ff !important; }

/* Message color */
._58nk {
  color: #f8f8f2; }

/* Date & time on message hover */
.tooltipText, .tooltipContent {
  background-color: #6272a4 !important;
  color: #f8f8f2 !important; }

i.arrow {
  border-left-color: #6272a4 !important;
  border-right-color: #6272a4 !important; }

/* Persone Name Header */
div._673w {
  background-color: #282a36; }

/* Message background from friend*/
._29_7 ._hh7 {
  background-color: #6272a4; }

._29_7 ._hh7._2f5r {
  background: none; }

/* Message background from me */
._43by {
  background-color: #44475a; }

ui9._hh7._s1-._52mr {
  background-color: #44475a; }

._3i_m._nd_ ._3058._ui9._hh7._s1-._52mr._2f5r {
  background: none !important; }

/* New Messaging Person's Name */
._llq {
  color: #f8f8f2 !important; }

._36zg, ._1n-e {
  color: #f8f8f2 !important; }

._ih3 {
  color: #f8f8f2; }

._5i_d {
  border: 1px solid #44475a;
  background-color: transparent !important; }
  ._5i_d .__6k {
    color: #f8f8f2 !important; }
  ._5i_d .__6l {
    color: #f8f8f2 !important; }

/* Emojis in main messaging section */
/* Emojis inside the emoji menu */
._5f0v._4pia ._1ifu {
  padding: 0 !important; }

/* BG */
._4_j4 {
  background-color: #282a36 !important; }

/* Friend has called you text */
img, ._50f7 {
  color: #0084ff; }

/* @ Mention name */
._ih- {
  background-color: #ff79c6 !important; }

._aou {
  background: #44475a; }

._2f5n {
  background-color: #282a36; }

._2f5n ._29ey {
  color: #ADAEB0; }

._3egs {
  background-color: #282a36; }

/**************************************************/
/**************** WRITE NEW MESSAGE ***************/
/**************************************************/
/* Enter New Message BG */
._5irm {
  background-color: #282a36 !important; }

/* Text */
._5rp8 ._1mf {
  color: #f8f8f2 !important; }

._2y8y._5l-3 {
  background: #282a36 !important; }
  ._2y8y._5l-3 ._2y8z {
    color: #f8f8f2 !important; }
  ._2y8y._5l-3 ._58al {
    color: #f8f8f2 !important;
    background-color: #282a36; }

._4rv6 {
  filter: invert(100%); }

a._4ce_ {
  filter: invert(100%); }

/* Enter New Msg PlaceHolder Text */
._1p1v {
  color: #6272a4 !important;
  -webkit-text-fill-color: #6272a4 !important; }

._4_j4 .chatAttachmentShelf {
  border-top: 0px solid !important; }
